body {
    background-color: rgb(0, 13, 255)
}

ul>li {
    display: inline-block;
}

.link {
    text-decoration: none;
    font-size: xx-large;
    font-weight: 600;
    margin-left;
    45px;
    color: rgb(243, 0, 0);
}

nav {
    border-bottom: 3px solid purple;
    text-align: center;
}

header {
    background-image: url(C:\Users\Stephen\Pictures\Saved Pictures) height: 150px;
    background-size: cover;
    width: auto;
    border-radius: 11px;
    padding-bottom: 250px;
    text-align: center;
}

section {
    text-algn: center;
}

#aussie {
    border-radius: 50px;
    margin-top: 20px;
    border: 5px solid black;
    heigh: 250px;
    width: auto;
}

main {
    text-align: center;

    margin-bottom: 20 {
        px
    }
}

article {
    display: inline-block;
    max-width: 65%;
}

aside {
    border-left: 2px solid darkgray;
    margin-left: 75px;
    display: inline-block;
}